:host {
  display: block;
  width: 100%;
  height: 100%;
  // box-shadow: 0 4px 10px #0c1f5014;
  // border: 1px dashed #cacdd1;

  // &>.components {
  //   display: flex;
  //   flex-flow: column;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #FAFBFC;
  // }

  &>.drop-container {
    width: 100%;
    height: 100%;

    &>.components {
      width: 100%;
      height: 100%;
    }
  }
}