:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  // overflow: hidden;

  // &>.drop-container {
  //   position: relative;
  //   width: 100%;
  //   height: 100%;
  //   overflow-x: hidden;
  //   overflow-y: auto;
  //   &>.components {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
}