<div class="optional-list">
  <ng-container *ngFor="let g of componentGroups">
    <ng-container *ngTemplateOutlet="groupTpl;context:{$implicit:g}"></ng-container>
  </ng-container>
</div>


<ng-template #groupTpl let-group>
  <div class="optional-group">
    <div class="header">
      <p class="title">{{group.title}}</p>
    </div>
    <div class="content">
      <div class="form-designer-optional-component" *ngFor="let c of group?.components">
        <p>{{c.title}}</p>
      </div>
    </div>
  </div>
</ng-template>