<div class="header">
  <nz-button-group>
    <button nz-button nzType="primary" nzDanger (click)="clearCache()">清除缓存</button>
    <!-- <button nz-button nzType="primary">OK</button> -->
  </nz-button-group>
</div>
<div class="content">
  <div class="optional-component-panel">
    <qflow-form-designer-optional-component-panel>
    </qflow-form-designer-optional-component-panel>
  </div>
  <div class="page-presentaion">
    <qflow-form-designer-page-presentation></qflow-form-designer-page-presentation>
  </div>
  <div class="componet-setting-panel">
    <qflow-form-designer-component-setting-panel></qflow-form-designer-component-setting-panel>
  </div>
</div>