:host {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  // padding: 12px;

  .optional-component-panel {
    width: 276px;
  }

  .page-presentaion {
    flex: 1;
    padding: 20px 30px;
    background-color: #FAFBFC;
  }
}